In [35]:
import pandas as pd
import numpy as np

In [3]:
DatFram = pd.DataFrame(
    {
        1,2,3,4,5
    }
                      
)

DatFram

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
Vdt01 = pd.date_range("20230101", periods = 5)
print (Vdt01)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# create a list with 'pd.date_range()' starting in "20230101", 
# and finishing on "20230201".
VarSerDat01 = pd.Series(pd.date_range(start = "20230101", end = "20230201", name="Datas Demonstrativas"))
#print (VarSerDat01)

In [7]:

#Ddata01 = pd.date_range("20230101", periods = 10)
VarSerDat = pd.date_range(start = "20230201", periods = 7)


#print(VarSerDat02)

# another example
VarSerDat001 = pd.DataFrame(pd.date_range(start = "20230101", end = "20230201", freq= "B"))
VarSerDat002 = pd.DataFrame(pd.date_range(start = "20230201", end = "20230301", freq= "B"))

#print (VarSerDat001)
print (VarSerDat002)

            0
0  2023-02-01
1  2023-02-02
2  2023-02-03
3  2023-02-06
4  2023-02-07
5  2023-02-08
6  2023-02-09
7  2023-02-10
8  2023-02-13
9  2023-02-14
10 2023-02-15
11 2023-02-16
12 2023-02-17
13 2023-02-20
14 2023-02-21
15 2023-02-22
16 2023-02-23
17 2023-02-24
18 2023-02-27
19 2023-02-28
20 2023-03-01



https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

Pseudônimo

Descrição

B frequência de dias úteis

C frequência personalizada do dia útil

D frequência do dia do calendário

C frequência semanal

M frequência de final de mês

SM frequência de final de semestre (dia 15 e final do mês)

BM frequência de fim de mês útil

CBM frequência de fim de mês comercial personalizada

EM frequência de início do mês

SMS frequência de início semestral (dias 1 e 15)

BMS frequência de início do mês útil

CBMS frequência de início do mês comercial personalizada

Q frequência de fim de trimestre

BQ frequência de fim de trimestre de negócios

QS frequência de início do trimestre

BQS frequência de início do trimestre comercial

A, Y frequência de fim de ano

BA, BY frequência de fim de ano comercial

AS, SIM frequência de início de ano

BAS, BYS frequência de início do ano comercial

BH frequência do horário comercial

H frequência horária

T, mín. frequência minuciosa

S segunda frequência

L, senhora milissegundos

U, us microssegundos

N nanossegundos

In [8]:
varr = pd.DataFrame({"A": [1, 2], "B": [3, 4]})
varr

   A  B
0  1  3
1  2  4

In [52]:
df = np.random.randn(20,20,4) # (qtde. series ,qtde. numeros, colunas  )
df

array([[[ 3.39162091e-01,  7.21374812e-02,  1.47426605e+00,
         -5.25933426e-01],
        [-6.43973131e-01,  1.59258181e+00, -9.89148233e-01,
         -6.46052728e-01],
        [-3.60735484e-01, -1.28507163e+00,  3.31785853e-04,
          8.39119012e-01],
        ...,
        [-1.26986709e+00,  8.08754660e-01,  1.32634479e+00,
         -4.18168643e-01],
        [ 1.59706296e+00, -2.09125093e-01, -5.52405437e-01,
         -3.57387775e-01],
        [-5.15154285e-01,  3.88517578e-01,  5.41863737e-01,
         -1.38251775e+00]],

       [[-3.59975622e-01,  8.26160464e-01,  6.13892782e-01,
         -2.03571698e-01],
        [ 3.78556211e-01,  4.62032282e-01, -2.10979330e-01,
         -7.36947234e-01],
        [ 3.92577577e-01,  7.86736756e-01,  9.37803628e-01,
          5.73654071e-02],
        ...,
        [-9.39447389e-01, -2.07196359e-03, -6.76228117e-01,
         -7.47702304e-01],
        [ 1.24255684e+00,  5.95195844e-01,  1.50590579e-01,
         -1.95610990e-01],
        [-4.00128152e-01,  4.63669161e-01,  2.01077970e-01,
         -1.07674151e-01]],

       [[-3.04927506e-01,  8.01610756e-01,  1.24973499e+00,
         -1.83410782e-01],
        [-2.41876190e-01, -8.51027505e-01,  1.32835420e+00,
         -6.71654926e-01],
        [-3.06716476e-01, -9.57800386e-01,  6.46044517e-01,
          1.50767494e-01],
        ...,
        [-9.47928878e-01,  1.63065301e+00, -1.72539684e+00,
         -6.51042146e-02],
        [-1.23946555e+00,  1.21906287e-01, -1.97361448e+00,
         -1.48199812e+00],
        [-1.77366254e-01, -1.46884317e+00, -2.10662966e+00,
          1.47647616e+00]],

       ...,

       [[ 8.89456716e-01,  1.82900654e-01,  2.61177014e+00,
         -1.33990830e+00],
        [-2.63926804e+00,  1.50642642e+00,  7.06747455e-01,
          4.12006016e-01],
        [ 1.73224363e-01,  8.09545855e-01, -1.78882913e-01,
          3.37897223e-01],
        ...,
        [-2.93576579e-01,  8.72400697e-01,  3.59389466e-01,
          5.89379885e-02],
        [ 6.11412682e-01, -4.94523410e-01, -6.18991314e-01,
          6.00370005e-01],
        [-1.55158685e+00, -1.48403072e+00, -1.17988309e+00,
         -1.46493637e+00]],

       [[ 7.82153953e-02, -4.22866445e-01, -5.68456085e-01,
          3.62777077e-01],
        [ 2.20575040e-01,  8.65637771e-01, -3.18871729e-01,
          1.66608494e+00],
        [-5.98078204e-01, -4.63839681e-01, -3.20889872e-01,
          1.84862524e+00],
        ...,
        [ 2.20862230e+00, -2.11068789e+00, -1.09855763e+00,
          1.54460572e+00],
        [-6.97929650e-01, -7.25467791e-01, -2.68032172e-01,
         -8.50110358e-01],
        [ 6.88688401e-01,  1.04029266e-01,  1.23412797e+00,
          1.75225682e-02]],

       [[ 1.12831893e+00, -1.04058308e+00, -6.93070611e-02,
          1.16367538e+00],
        [-1.01460741e+00, -5.25271688e-01,  2.16142602e-01,
         -7.87321394e-01],
        [-9.07732385e-01,  2.89267011e-01, -3.10695859e-01,
         -1.61605556e+00],
        ...,
        [ 3.87280893e-01,  1.51193666e+00,  1.10028048e-01,
         -1.25059977e+00],
        [ 5.65674114e-01, -1.18178654e+00,  9.00584633e-01,
         -7.93644173e-01],
        [-2.64678553e-01,  9.69831008e-01,  2.94015060e-01,
          7.27875134e-01]]])

In [15]:
df = np.randon(all)
df

AttributeError: module 'numpy' has no attribute 'randon'

In [53]:
df = pd.DataFrame({"a": [1, 2, 3, 4]}, index=['A', 'b', 'C', 'd'])
df.sort_index(key=lambda x: x.str.lower())

   a
A  1
b  2
C  3
d  4

In [54]:
df.sort_index(ascending=False)

   a
d  4
b  2
C  3
A  1