## PANDAS BASIC - 01

In [2]:
import numpy as np
import pandas as pd

In [76]:
# create a series and enter inside a values list, 
# to pandas create a index general
V1 = pd.Series([1,4,7, np.nan, 11, np.nan])
print (V1)

0    1
1    2
2    3
3    4
4    5
5    5
6    6
7    7
8    8
dtype: int64

In [94]:
DatFram = pd.DataFrame(
    {
        1,2,3,4,5
    }
                      
)

DatFram

   0
0  1
1  2
2  3
3  4
4  5

In [87]:
# create a DataFrame passing a matriz Numpy, with a index of data and time 
# using date_range() labeled columns
Vdt01 = pd.date_range("20230101", periods = 5)
#print (Vdt01)

# create a list with 'pd.date_range()' starting in "20230101", 
# and finishing on "20230201".
VarSerDat01 = pd.Series(pd.date_range(start = "20230101", end = "20230201", name="Datas Demonstrativas"))
#print (VarSerDat01)

#Ddata01 = pd.date_range("20230101", periods = 10)
VarSerDat = pd.date_range(start = "20230201", periods = 7)
VarSerDat02 = pd.DataFrame(np.random.randn(7,4), index=VarSerDat , columns=list("ABCD"))

#print(VarSerDat02)

# another example
VarSerDat001 = pd.DataFrame(pd.date_range(start = "20230101", end = "20230201", freq= "B"))
VarSerDat002 = pd.DataFrame(pd.date_range(start = "20230201", end = "20230301", freq= "B"))

#print (VarSerDat001)
print (VarSerDat002)

            0
0  2023-02-01
1  2023-02-02
2  2023-02-03
3  2023-02-06
4  2023-02-07
5  2023-02-08
6  2023-02-09
7  2023-02-10
8  2023-02-13
9  2023-02-14
10 2023-02-15
11 2023-02-16
12 2023-02-17
13 2023-02-20
14 2023-02-21
15 2023-02-22
16 2023-02-23
17 2023-02-24
18 2023-02-27
19 2023-02-28
20 2023-03-01

#### **pandas.date_range()**

* retorna uma matriz de intervalo de datas, onde a diferença é especificada entre a frequência fornecida
* parametros: 
    * start: data inicio
    * end: data final
    * periods: quantidade de períodos a serem retornados
    * freq: parâmetros para retornar com que frequencia virão os valores
    * tz: nome do fuzo horário
    * normalizer(True or False): normalizar as datas á meia noite
    * nome: nome do datetimeindex
    * inclusive
    * *
    * Unit
    * rwargs



https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

Pseudônimo

Descrição

B frequência de dias úteis

C frequência personalizada do dia útil

D frequência do dia do calendário

C frequência semanal

M frequência de final de mês

SM frequência de final de semestre (dia 15 e final do mês)

BM frequência de fim de mês útil

CBM frequência de fim de mês comercial personalizada

EM frequência de início do mês

SMS frequência de início semestral (dias 1 e 15)

BMS frequência de início do mês útil

CBMS frequência de início do mês comercial personalizada

Q frequência de fim de trimestre

BQ frequência de fim de trimestre de negócios

QS frequência de início do trimestre

BQS frequência de início do trimestre comercial

A, Y frequência de fim de ano

BA, BY frequência de fim de ano comercial

AS, SIM frequência de início de ano

BAS, BYS frequência de início do ano comercial

BH frequência do horário comercial

H frequência horária

T, mín. frequência minuciosa

S segunda frequência

L, senhora milissegundos

U, us microssegundos

N nanossegundos

In [105]:
# Create a DataFrame passing a dictonarie of objects that can be converting in a 
# structure similar a Series
DatFram01 = pd.DataFrame (
    {
        "A": 2.4,
        "B": pd.Timestamp("20230101"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["teste","train","teste","train"]),
        "F": "foo",
    }
    
)
DatFram01.columns

# look type of columns
DatFram01.dtypes

# tab completion for column names
"""
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.columns
df2.align              df2.copy
df2.all                df2.count
df2.any                df2.combine
df2.append             df2.D
df2.apply              df2.describe
df2.applymap           df2.diff
df2.B                  df2.duplicated
"""
DatFram01.any

<bound method NDFrame._add_numeric_operations.<locals>.any of      A          B    C  D      E    F
0  2.4 2023-01-01  1.0  3  teste  foo
1  2.4 2023-01-01  1.0  3  train  foo
2  2.4 2023-01-01  1.0  3  teste  foo
3  2.4 2023-01-01  1.0  3  train  foo>

## VISUALIZANDO DADOS